<h1>About Us</h1>
<%= link_to "Contact", home_contact_path %>
<%= link_to 'About Us', home_about_path %> 
<%= link_to 'Customers', customers_path %> 
<%= link_to 'Manifest', manifests_path %> 
<%= link_to 'Daily', dailies_path %> <br> <br>

<h2> Tandem Waiver Video </h2>
<h5>These are temporary place holders</h5>
<iframe width="560" height="315" src="//www.youtube.com/embed/tFVINO-BqCw" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="//www.youtube.com/embed/tFVINO-BqCw" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="//www.youtube.com/embed/tFVINO-BqCw" frameborder="0" allowfullscreen></iframe>

<iframe width="560" height="315" src="//www.youtube.com/embed/tFVINO-BqCw" frameborder="0" allowfullscreen></iframe>
