

<%= link_to "Contact", home_contact_path %>
<%= link_to 'About Us', home_about_path %> </a></li>
<%= link_to 'Customers', customers_path %> </a></li>
<%= link_to 'Manifest', manifests_path %> </a></li>
<%= link_to 'Daily', dailies_path %> </a></li><br> <br>
<h5>This is a place holder video - more complete page will be added soon</h5>
<iframe src="//player.vimeo.com/video/75921797" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/75921797">Skydiving 2013 year to date</a> from <a href="http://vimeo.com/user10907249">Maytee</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
