<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br>
    <%= f.text_field :password_digest %>
  </div>
  <div class="field">
    <%= f.label :cust_fname %><br>
    <%= f.text_field :cust_fname %>
  </div>
  <div class="field">
    <%= f.label :cust_lname %><br>
    <%= f.text_field :cust_lname %>
  </div>
  <div class="field">
    <%= f.label :cust_mi %><br>
    <%= f.text_field :cust_mi %>
  </div>
  <div class="field">
    <%= f.label :cust_email %><br>
    <%= f.text_field :cust_email %>
  </div>
  <div class="field">
    <%= f.label :cust_addr %><br>
    <%= f.text_field :cust_addr %>
  </div>
  <div class="field">
    <%= f.label :cust_city %><br>
    <%= f.text_field :cust_city %>
  </div>
  <div class="field">
    <%= f.label :cust_zip %><br>
    <%= f.number_field :cust_zip %>
  </div>
  <div class="field">
    <%= f.label :cust_phone %><br>
    <%= f.text_field :cust_phone %>
  </div>
  <div class="field">
    <%= f.label :cust_em_contact %><br>
    <%= f.text_field :cust_em_contact %>
  </div>
  <div class="field">
    <%= f.label :cust_em_contactrel %><br>
    <%= f.text_field :cust_em_contactrel %>
  </div>
  <div class="field">
    <%= f.label :cust_em_contactphone %><br>
    <%= f.text_field :cust_em_contactphone %>
  </div>
  <div class="field">
    <%= f.label :cust_dl %><br>
    <%= f.text_field :cust_dl %>
  </div>
  <div class="field">
    <%= f.label :cust_dl_state %><br>
    <%= f.text_field :cust_dl_state %>
  </div>
  <div class="field">
    <%= f.label :cust_dl_exp %><br>
    <%= f.date_select :cust_dl_exp %>
  </div>
  <div class="field">
    <%= f.label :cust_status %><br>
    <%= f.text_field :cust_status %>
  </div>
  <div class="field">
    <%= f.label :cust_uspa %><br>
    <%= f.text_field :cust_uspa %>
  </div>
  <div class="field">
    <%= f.label :cust_uspalicense %><br>
    <%= f.text_field :cust_uspalicense %>
  </div>
  <div class="field">
    <%= f.label :cust_reserve_date %><br>
    <%= f.date_select :cust_reserve_date %>
  </div>
  <div class="field">
    <%= f.label :cust_uspa_exp %><br>
    <%= f.date_select :cust_uspa_exp %>
  </div>
  <div class="field">
    <%= f.label :cust_cc %><br>
    <%= f.number_field :cust_cc %>
  </div>
  <div class="field">
    <%= f.label :cust_id %><br>
    <%= f.number_field :cust_id %>
  </div>
  <div class="field">
    <%= f.label :cust_waiver_date %><br>
    <%= f.date_select :cust_waiver_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
