<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username, "User Name" %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password_digest, "Password" %><br>
    <%= f.text_field :password_digest %>
  </div>
  <div class="field">
    <%= f.label :cust_fname, "First Name" %><br>
    <%= f.text_field :cust_fname %>
  </div>
  <div class="field">
    <%= f.label :cust_lname, "Last Name" %><br>
    <%= f.text_field :cust_lname %>
  </div>
  <div class="field">
    <%= f.label :cust_mi, "Middle Initial" %><br>
    <%= f.text_field :cust_mi %>
  </div>
  <div class="field">
    <%= f.label :cust_email, "Email Address" %><br>
    <%= f.text_field :cust_email %>
  </div>
  <div class="field">
    <%= f.label :cust_addr, "Address" %><br>
    <%= f.text_field :cust_addr %>
  </div>
  <div class="field">
    <%= f.label :cust_city, "City" %><br>
    <%= f.text_field :cust_city %>
  </div>
  <div class="field">
    <%= f.label :cust_zip, "Zip Code" %><br>
    <%= f.number_field :cust_zip %>
  </div>
  <div class="field">
    <%= f.label :cust_phone, "Phone Number" %><br>
    <%= f.text_field :cust_phone %>
  </div>
  <div class="field">
    <%= f.label :cust_em_contact, "Emergency Contact" %><br>
    <%= f.text_field :cust_em_contact %>
  </div>
  <div class="field">
    <%= f.label :cust_em_contactrel, "Emergency Contact Relationship" %><br>
    <%= f.text_field :cust_em_contactrel %>
  </div>
  <div class="field">
    <%= f.label :cust_em_contactphone, "Emergency Contact Phone Number" %><br>
    <%= f.text_field :cust_em_contactphone %>
  </div>
  <div class="field">
    <%= f.label :cust_dl, "Drivers License" %><br>
    <%= f.text_field :cust_dl %>
  </div>
  <div class="field">
    <%= f.label :cust_dl_state, "Drivers License State" %><br>
    <%= f.text_field :cust_dl_state %>
  </div>
  <div class="field">
    <%= f.label :cust_dl_exp, "Drivers License Exp" %><br>
    <%= f.date_select :cust_dl_exp %>
  </div>
  <div class="field">
    <%= f.label :cust_status, "Tandem, Student, or Sport?" %><br>
    <%= f.text_field :cust_status %>
  </div>
  <div class="field">
    <%= f.label :cust_uspa, "USPA Member Number" %><br>
    <%= f.text_field :cust_uspa %>
  </div>
  <div class="field">
    <%= f.label :cust_uspalicense, "USPA License Number" %><br>
    <%= f.text_field :cust_uspalicense %>
  </div>
  <div class="field">
    <%= f.label :cust_reserve_date, "Reserve Repack Date" %><br>
    <%= f.date_select :cust_reserve_date %>
  </div>
  <div class="field">
    <%= f.label :cust_uspa_exp, "USPA Exp Date" %><br>
    <%= f.date_select :cust_uspa_exp %>
  </div>
  <div class="field">
    <%= f.label :cust_cc, "On File CC" %><br>
    <%= f.number_field :cust_cc %>
  </div>
  <div class="field">
    <%= f.label :cust_id, "Cust ID" %><br>
    <%= f.number_field :cust_id %>
  </div>
  <div class="field">
    <%= f.label :cust_waiver_date, "Waiver Date" %><br>
    <%= f.date_select :cust_waiver_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
