<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>M.I.</th>
      <th>Email</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip Code</th>
      <th>Phone</th>
      <th>Emergency Contact</th>
      <th>Relationship</th>
      <th>Emergency Phone</th>
      <th>Drivers License</th>
      <th>Issue State</th>
      <th>DL Exp</th>
      <th>Jumper Type</th>
      <th>USPA Member Number</th>
      <th>License Number</th>
      <th>Reserve date</th>
      <th>USPA EXP</th>
      <th>Cust CC</th>
      <th>Staff ID</th>
      <th>Cust waiver date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.username %></td>
        <td><%= customer.password_digest %></td>
        <td><%= customer.cust_fname %></td>
        <td><%= customer.cust_lname %></td>
        <td><%= customer.cust_mi %></td>
        <td><%= customer.cust_email %></td>
        <td><%= customer.cust_addr %></td>
        <td><%= customer.cust_city %></td>
        <td><%= customer.cust_zip %></td>
        <td><%= customer.cust_phone %></td>
        <td><%= customer.cust_em_contact %></td>
        <td><%= customer.cust_em_contactrel %></td>
        <td><%= customer.cust_em_contactphone %></td>
        <td><%= customer.cust_dl %></td>
        <td><%= customer.cust_dl_state %></td>
        <td><%= customer.cust_dl_exp %></td>
        <td><%= customer.cust_status %></td>
        <td><%= customer.cust_uspa %></td>
        <td><%= customer.cust_uspalicense %></td>
        <td><%= customer.cust_reserve_date %></td>
        <td><%= customer.cust_uspa_exp %></td>
        <td><%= customer.cust_cc %></td>
        <td><%= customer.cust_id %></td>
        <td><%= customer.cust_waiver_date %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
