
<p>
  <strong>Username:</strong>
  <%= @customer.username %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @customer.password_digest %>
</p>

<p>
  <strong>Cust fname:</strong>
  <%= @customer.cust_fname %>
</p>

<p>
  <strong>Cust lname:</strong>
  <%= @customer.cust_lname %>
</p>

<p>
  <strong>Cust mi:</strong>
  <%= @customer.cust_mi %>
</p>

<p>
  <strong>Cust email:</strong>
  <%= @customer.cust_email %>
</p>

<p>
  <strong>Cust addr:</strong>
  <%= @customer.cust_addr %>
</p>

<p>
  <strong>Cust city:</strong>
  <%= @customer.cust_city %>
</p>

<p>
  <strong>Cust zip:</strong>
  <%= @customer.cust_zip %>
</p>

<p>
  <strong>Cust phone:</strong>
  <%= @customer.cust_phone %>
</p>

<p>
  <strong>Cust em contact:</strong>
  <%= @customer.cust_em_contact %>
</p>

<p>
  <strong>Cust em contactrel:</strong>
  <%= @customer.cust_em_contactrel %>
</p>

<p>
  <strong>Cust em contactphone:</strong>
  <%= @customer.cust_em_contactphone %>
</p>

<p>
  <strong>Cust dl:</strong>
  <%= @customer.cust_dl %>
</p>

<p>
  <strong>Cust dl state:</strong>
  <%= @customer.cust_dl_state %>
</p>

<p>
  <strong>Cust dl exp:</strong>
  <%= @customer.cust_dl_exp %>
</p>

<p>
  <strong>Cust status:</strong>
  <%= @customer.cust_status %>
</p>

<p>
  <strong>Cust uspa:</strong>
  <%= @customer.cust_uspa %>
</p>

<p>
  <strong>Cust uspalicense:</strong>
  <%= @customer.cust_uspalicense %>
</p>

<p>
  <strong>Cust reserve date:</strong>
  <%= @customer.cust_reserve_date %>
</p>

<p>
  <strong>Cust uspa exp:</strong>
  <%= @customer.cust_uspa_exp %>
</p>

<p>
  <strong>Cust cc:</strong>
  <%= @customer.cust_cc %>
</p>

<p>
  <strong>Cust:</strong>
  <%= @customer.cust_id %>
</p>

<p>
  <strong>Cust waiver date:</strong>
  <%= @customer.cust_waiver_date %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

