
<p>
  <strong>Bo load num:</strong>
  <%= @manifest.bo_load_num %>
</p>

<p>
 <!-- <strong>Password digest:</strong>
  <%= @manifest.password_digest %> -->
</p>

<p>
  <strong>Customer Charges:</strong>
  <%= @manifest.bo_charges %>
</p>

<p>
  <strong>Customer Payments:</strong>
  <%= @manifest.bo_debits %>
</p>

<p>
  <strong>Gear Rental:</strong>
  <%= @manifest.bo_gear_rental %>
</p>

<p>
  <strong>Rental rig number:</strong>
  <%= @manifest.bo_rental_rig_number %>
</p>

<p>
  <strong>Jump type:   </strong>
  <%= @manifest.bo_jump_type %>
</p>

<p>
  <strong>Aircraft:  </strong>
  <%= @manifest.bo_aircraft %>
</p>

<p>
  <strong>Active Pilot:  </strong>
  <%= @manifest.bo_pilot %>
</p>

<p>
  <strong>Staff ID: </strong>
  <%= @manifest.bo_id %>
</p>

<%= link_to 'Edit', edit_manifest_path(@manifest) %> |
<%= link_to 'Back', manifests_path %>
