<%= form_for(@daily) do |f| %>
  <% if @daily.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily.errors.count, "error") %> prohibited this daily from being saved:</h2>

      <ul>
      <% @daily.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mon_schedule %><br>
    <%= f.time_select :mon_schedule %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br>
    <%= f.text_field :password_digest %>
  </div>
  <div class="field">
    <%= f.label :mon_load_number %><br>
    <%= f.number_field :mon_load_number %>
  </div>
  <div class="field">
    <%= f.label :mon_pilot %><br>
    <%= f.text_field :mon_pilot %>
  </div>
  <div class="field">
    <%= f.label :cust_id %><br>
    <%= f.number_field :cust_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
