
<p>
  <strong>Cust:</strong>
  <%= @sale.cust_id %>
</p>

<p>
  <strong>Saletype:</strong>
  <%= @sale.SaleType %>
</p>

<p>
  <strong>Sale date:</strong>
  <%= @sale.sale_date %>
</p>

<p>
  <strong>Gear rental:</strong>
  <%= @sale.gear_rental %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @sale.Sale_price %>
</p>

<p>
  <strong>Bo load num:</strong>
  <%= @sale.bo_load_num %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
