<div id="footer" style="background-color:#007ACC; color: white; bottom:5px;">
  <h5>&copy; 2014 Maytee Kneitz </h5>
  <%= link_to 'Announcements', home_announcement_path %>
  <%= link_to 'Conditions of Use', home_conditions_path %>
  <%= link_to 'Privacy Policy', home_privacy_path %>
  <%= link_to 'Site Map', home_site_map_path %>
  <%= link_to 'Support', home_support_path %>



</div>


