
<div style="background-color:#007ACC;" id="header">
<table>	
	<div id="main_navigation" style="background-color:#007ACC">	
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  		<div class="container form-inline">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="/">Blue Skiez DZ Management</a>
    		</div>
    		<div class="collapse navbar-collapse">
      			<ul class="nav navbar-nav">
        			<li class="active"><a <%= link_to 'Home', home_index_path %> </a></li>
        			<li class="active"><a <%= link_to 'Contact Us', home_contact_path %> </a></li>
        			<li class="active"><a <%= link_to 'About Us', home_about_path %> </a></li>
        			<li class="active"><a <%= link_to 'Customers', customers_path %> </a></li>
        			<li class="active"><a <%= link_to 'Manifest', manifests_path %> </a></li>
        			<li class="active"><a <%= link_to 'Daily', dailies_path %> </a></li>
      			</ul>
    		</div>

  		</div>
		</nav>	
    	<%= image_tag("sd_emboss.jpg", :alt=>"logo", :width=>100, :height=>100) %>
	</div>		
</table>
</div>
